/* tables */
table.tablesorter {
  background-color: #CDCDCD;
  margin:10px 0pt 15px;
  width: 100%;
  text-align: left;
  font-size:85%;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  background-color: #e6EEEE;
  padding: 4px;
}
table.tablesorter thead tr .header {
  background-image: url(../images/tablesorter/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter tbody td {
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
  font-size:90%;
}
table.tablesorter tbody tr.odd td {
  background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(../images/tablesorter/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(../images/tablesorter/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #8dbdd8;
}
