{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.sparkline.min.js')}}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('div.histogram').each(function() {
      var data = [];
      var nums = $(this).find('.data').text().split(',');
      for (var i in nums) {
        data[data.length] = parseInt(nums[i], 10);
      }
      $(this).sparkline(data, {type: "bar", barColor: "#0066CC", height: "26px", barWidth: 6, barSpacing: 1});
    });
  });
</script>
{% endblock %}

{% block breadcrumbs %}
<li><a href="{{url_for('host', hostname=database.hostname)}}">{{database.hostname}}</a></li>
{% if collection %}
<li><a href="{{url_for('database', hostname=database.hostname, dbname=database.dbname)}}">{{database.dbname}}</a></li>
<li><a href="{{url_for('collection', hostname=database.hostname, dbname=database.dbname, collection=collection)}}">{{collection}}</a></li>
{% else %}
<li><a href="{{url_for('database', hostname=database.hostname, dbname=database.dbname)}}">{{database.dbname}}</a></li>
{% endif %}
{% endblock %}

{% block main %}
<h1>{{database.dbname}}{% if collection %} &raquo; {{collection}}{% endif %}</h1>
{% if collection %}
{% set hideoverall = True %}
{% endif %}
{% include "_status.html" %}

<h3>queries</h3>
<table class="tablesorter collection {sortlist: [[5,1]]}">
  <thead>
    <tr>
      <th width="16%">Collection</th>
      <th width="43%" class="histogram">Skeleton</th>
      <th width="5%">N</th>
      <th width="6%">tot</th>
      <th width="6%">min</th>
      <th width="6%">avg</th>
      <th width="6%">med</th>
      <th width="6%">max</th>
      <th width="6%">dev</th>
    </tr>
  </thead>
  <tbody>
{% for query in queries %}
    <tr>
      <td><a href="{{url_for('collection', hostname=database.hostname, dbname=database.dbname, collection=query.collection)}}">{{query.collection}}</a></td>
      <td>
        <div class="histogram"><span class="data">{{query.times.histogram|join(',')|safe}}</span></div>
        <a href="{{url_for('query', hostname=database.hostname, dbname=database.dbname, collection=query.collection, skel=query.skel)}}">{{query.skel}}</a>
      </td>
      <td>{{query.count}}</td>
      <td>{{query.times.total}}</td>
      <td>{{query.times.min}}</td>
      <td>{{query.times.avg|float}}</td>
      <td>{{query.times.median}}</td>
      <td>{{query.times.max}}</td>
      <td>{{query.times.stddev|float}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}

